{% extends 'main/base.html.twig' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row no-gutters justify-content-center">
            <h1 class="display-4 text-center">
                {{ title }}
            </h1>
        </div>
    </div>
{% endblock %}
